<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Zewang.myBlog.dao.CategoryMapper">

  <resultMap id="BaseResultMap" type="org.Zewang.myBlog.model.Category">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="description" property="description" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
  </resultMap>


  <select id="findAll" resultMap="BaseResultMap">
    SELECT id, name, description, create_time, update_time
    FROM category
    ORDER BY create_time DESC
  </select>

  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT id, name, description, create_time, update_time
    FROM category
    WHERE id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="org.Zewang.myBlog.model.Category" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO category
      (name, description, create_time, update_time)
    VALUES
      (#{name,jdbcType=VARCHAR},
       #{description,jdbcType=VARCHAR},
       #{createTime,jdbcType=VARCHAR},
       #{updateTime,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="org.Zewang.myBlog.model.Category">
    UPDATE category
    <set>
      <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
      <if test="description != null">description = #{description,jdbcType=VARCHAR},</if>
      <if test="updateTime != null">update_time = #{updateTime,jdbcType=VARCHAR},</if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM category
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>

  <select id="existsById" resultType="boolean">
    SELECT COUNT(1) > 0
    FROM category
    WHERE id = #{id,jdbcType=BIGINT}
  </select>

  <select id="existsByName" resultType="boolean">
    SELECT COUNT(1) > 0
    FROM category
    WHERE name = #{name,jdbcType=VARCHAR}
  </select>

</mapper>
